body {
    background-color: palevioletred;
}

.sunGlass {
    height: 220px;
    width: 350px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: xxx-large;
    font-weight: bold;
}

.headerParagraph {
    font-size: large;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
}