body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(121,228,255,1) 0%, rgba(121,228,255,1) 35%, rgba(247,136,255,1) 100%);
}

#sunGlass {
    height: 220px;
    width: 435px;
    cursor: pointer;
}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.popUpInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;

    border: 1px black;
    border-radius: 10px;

    z-index: 10;

    background-color: palevioletred;
    width: 500px;
    max-width: 80%;

    font-family: fast-trackregular;
}

.popUpInfo.active {
    transform: translate(-50%, -50%) scale(1);
}

.popUpHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black;

    background: -webkit-linear-gradient(#00b3e0, #5eff4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popUpTitle {
    font-size: 1.50rem;
    font-weight: bold;
}

.closePopUpBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popUpText {
    padding: 10px 15px;

    font-size: 1.25rem;

    background: -webkit-linear-gradient(#00b3e0, #5eff4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .5);

    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



h1 {
    font-family: sportyporegular;
    font-size: 60px;
    font-weight: bold;

    margin: 3px;
    padding: 5px;
    background: -webkit-linear-gradient(#00b3e0, #5eff4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerParagraph {
    font-family: fast-trackregular;
    font-size: 27px;
    color: white;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    font-family: fast-trackregular;
    font-weight: normal;
    font-size: 20px;
    color: white;
}

.openPopUp {
    display: flex;
    align-self: flex-start;
    margin-left: 60px;
}

.streetCred {
    padding: 7px 20px;
    border-radius: 100px;
    border: 0;

    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: flex-end;
    margin-right: 100px;
}

.multiClick {
    padding: 7px 20px;
    border-radius: 100px;
    border: 0;

    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: flex-start;
    margin-left: 100px;
}



button {
    background-color: #ffe7e7;
    color: #13c8f5;

    padding: 7px 20px;
    border-radius: 100px;
    border: 0;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;

    font-family: fast-trackregular;
    font-size: 17px;

    cursor: pointer;
    transition: all 250ms;
}

button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


.music1 {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: flex-start;
    margin-top: 420px;
    margin-left: 100px;

    visibility: hidden;
}

.music2 {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: center;
    margin-top: 420px;

    visibility: hidden;
}

.music3 {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    align-self: flex-end;
    margin-top: 420px;
    margin-right: 100px;

    visibility: hidden;
}



/* Custom fonts */
@font-face {
    font-family: 'sportyporegular';
    src: url('SportypoFont/sportypo-reguler-demo-webfont.woff2') format('woff2'),
    url('SportypoFont/sportypo-reguler-demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fast-trackregular';
    src: url('FastTrackFont/fast-track-webfont.woff2') format('woff2'),
    url('FastTrackFont/fast-track-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

